!.gitignore
*.gem
*.rbc
*.sw[a-p]
*~
.*
.DS_Store
.Spotlight-V100
.Trashes
._*
.bundle
.config
.directory
.yardoc
Desktop.ini
Gemfile.lock
Icon?
InstalledFiles
Thumbs.db
_yardoc
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
